

.HomeSection{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Berlin;

   
    @media (min-width:0px) and (max-width:425px) {
        background-size: cover;
    }
    .talktous{
        position: absolute;
        top: 40px;
        right: 40px;
        width: 120px;
        transition: all 0.1s ease-in-out;
        @media (min-width:0px) and (max-width:425px) {
            width: 90px;
            top: 17px;
            right: 16px;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.07);
        }

    
    }
   h1,h2{
       color: white;
       text-align: center;
       font-size: 60px;
       position: relative;
       @media (min-width:0px) and (max-width:425px) {
        font-size: 50px;
    }
   span{
    color: #f78f1e;
}
.grow{
    color: white;
    transition: all 0.4s ease-in-out;
   }

   }

.Tagline{
    position: absolute;
    bottom: 20px;
    line-height: 30px;
    @media (min-width:0px) and (max-width:425px) {
        line-height: 22px;
    }
    h3{
        color: white;
        text-align: center;
        font-size: 25px;
        @media (min-width:0px) and (max-width:425px) {
            font-size: 19px;
        }
    }
    
    h4{
        color: white;
        text-align: center;
        font-size: 15px;
        @media (min-width:0px) and (max-width:425px) {
          font-size: 12px;
        }
    }
  
}

.scroll{
    position: absolute;
    bottom: 40px;
    right: 35px;
    width: 50px;
    transform-origin: 0% 50%;
    transition: all 0.5s;
    @media (min-width:0px) and (max-width:425px) {
        width: 30px;
        right: 15px;
    }
    &:hover{
        cursor: pointer;
        transform: rotate(90deg);
       
    }
  
}
&:hover{
    .grow{
        color: #f78f1e;
               font-size: 100px;
               @media (min-width:0px) and (max-width:425px) {
                font-size: 70px;
            }
       }
}

}